useDynLib(Pursuit, .registration = TRUE)
exportPattern("^[^\\.]")
importFrom(graphics, abline, arrows, legend, lines, par, plot, points, rect, strheight, strwidth, text, box)
importFrom(stats, integrate, prcomp, predict, rnorm, runif, cov)
importFrom(MASS, ginv, lda, qda)
importFrom(grDevices, dev.off, png, dev.new, xy.coords)
